
<h3>Shipped Cards!</h3>
<div ng-controller="CardsCtrl">

  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" ng-model="$scope.query">
      </div>      
    </div>
  </form>

    <p>
      Sort by:
      <select ng-model="$scope.orderDays">
        <option value="days">Cycle Time</option>
        <option value="labels">Labels</option>
      </select>  
    </p>

    <table class="table table-bordered table-striped" border="1"> 
      <tr>
        <th>Card Title</th>
        <th>Cycle Time</th>
        <th>Labels</th>
      </tr>

      <tr ng-repeat="card in cards | filter:$scope.query  | orderBy:$scope.orderDays" >
        <td>{{card.name}}</td>
        <td>{{card.days}}</td>
        <td>{{card.labels}}</td>
      </tr>    
  
</div>
