<h1>Shipped cards on Consumer Data board</h1>

<table border="1"> 
  <tr>
  	<th>Card Name</th>
    <th>Number of Days</th>
	  <th>Labels</th>
  </tr>
  
  <% @cards.each do |card| %>
    <tr>
      <td><%= sanitize(card["name"]) %></td>
      <td><%= card["days"].to_i unless card["days"].nil? %></td>
      <td>
        <%= card["labels"] unless card["labels"].nil? %>
      </td>
    </tr>
  <% end %>
</table>
