<h3>Shipped cards on Consumer Data board</h3>

<div ng-controller="CardsCtrl">
    <input type="text" ng-model="$scope.query" />
    <table border="1"> 
      <tr>
        <th>Card Name</th>
        <th>Number of Days</th>
        <th>Labels</th>
      </tr>

      <tr ng-repeat="card in cards | filter:$scope.query">
        <td>{{card.name}}</td>
        <td>{{card.days}}</td>
        <td>{{card.labels}}</td>
      </tr>    
  
</div>
