<h3>Shipped cards on Consumer Data board</h3>

<div ng-controller="CardsCtrl">
    <p>
      Search:
      <input type="text" ng-model="$scope.query" />
    </p>  
    <p>
      Sort by:
      <select ng-model="$scope.orderDays">
        <option value="days">Cycle Time</option>
        <option value="labels">Labels</option>
      </select>  
    </p>
    <table border="1"> 
      <tr>
        <th>Card Title</th>
        <th>Cycle Time</th>
        <th>Labels</th>
      </tr>

      <tr ng-repeat="card in cards | filter:$scope.query  | orderBy:$scope.orderDays" >
        <td>{{card.name}}</td>
        <td>{{card.days}}</td>
        <td>{{card.labels}}</td>
      </tr>    
  
</div>
